<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.shiro.filter.UserMapper">

	<select id="findUserById" parameterType="com.xxx.shiro.filter.User">
		select userId, email, loginName, userName, password
		from t_bd_user
		where userId = #{userId}
	</select>

</mapper>